<mat-datepicker #fieldDateDatepicker></mat-datepicker>
<mat-form-field appearance="outline">
  <input 
    matInput
    [formControl]="control"
    [matDatepicker]="fieldDateDatepicker"
    [attr.id]="config.id"
    [attr.name]="config.name"
    [placeholder]="config.placeHolder || config.name"
    [disabled]="config.disabled" />
  <mat-datepicker-toggle matSuffix [for]="fieldDateDatepicker"></mat-datepicker-toggle>
</mat-form-field>