<div
  *ngFor="let field of config.fields"
  [ngSwitch]="field.type">
  <app-field
    #dynamicFormField
    *ngSwitchCase="'Text'"
    [config]="field">
  </app-field>
  <app-field-rich-text
    #dynamicFormRichText
    *ngSwitchCase="'RichText'"
    [config]="field">
  </app-field-rich-text>
  <app-field-number
    #dynamicFormField
    *ngSwitchCase="'Integer'"
    [config]="field">
  </app-field-number>
  <app-field-date
    #dynamicFormField
    *ngSwitchCase="'Date'"
    [config]="field">
  </app-field-date>
  <ng-container *ngSwitchCase="'Select'">
    <app-field-select
      *ngIf="field.appearance === 'dropdown'; else checkboxFieldTempl"
      #dynamicFormField
      [config]="field">
    </app-field-select>
    <ng-template #checkboxFieldTempl>
      <app-field-checkbox
        *ngIf="field.allowMulti"
        #dynamicFormField
        [config]="field">
      </app-field-checkbox>
      <app-field-radio
        *ngIf="!field.allowMulti"
        #dynamicFormField
        [config]="field">
      </app-field-radio>
    </ng-template>
  </ng-container>
  <mat-card *ngSwitchCase="'Object'" class="sub-form-wrapper">
    <mat-card-content>
      <app-dynamic-form
        #dynamicFormField
        [config]="field">
      </app-dynamic-form>
    </mat-card-content>
  </mat-card>
</div>