<mat-form-field appearance="outline">
  <mat-label>{{ config.name }}</mat-label>
  <mat-select [formControl]="control">
    <mat-option
      *ngFor="let selectOption of config.options"
      [value]="selectOption.value">
      {{ selectOption.text }}
    </mat-option>
  </mat-select>
</mat-form-field>