::ng-deep .gjs-blocks-c {

  .gjs-block {
    // width: calc(50% - 4px);
    margin: 2px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #463a3c;
  }
  .gjs-block-label > i {
    font-size: 2em;
  }
}